<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".unityweb" mimeType="application/vnd.unity"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>-->
    </staticContent>
  </system.webServer>
</configuration>